<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .button {
            background: cornflowerblue;
            width: 100px;
            height: 30px;
            font-size: 16px;
            border: 1px solid gray;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div>
    <a href="/login">
        <button class="button">Login</button>
    </a>
</div>
<div>
    <a href="/auth/reg">
        <button class="button">Register</button>
    </a>
</div>
</body>
</html>